.about {
	background: #dbcfe7;
}

.graphiql-container .toolbar {
	margin-left: unset;
	background: unset;
}

.graphiql-container [type=checkbox] {
	all: revert;
}

.graphiql-container input {
	all: revert;
}

.graphiql-container .toolbar-button {
	background: unset;
}